/* Variables */

$skin-primary: maroon;
$btn-primary: $skin-primary / 2;
$btn-hover: grey;
$red: red ;
$black: black ;
$fresh:white;
$box-set: 40%;
$boundary: 20%;



/* global */

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $skin-primary;
}

h2 {
  font-size: 3vw;
  text-align: center;
  margin-bottom: $boundary / 3;
}

button {
  width: $box-set;
  margin-top: 1%;
  margin-right: 2.5%;
  margin-left:5%;
  padding: 2% 0;
  background: $btn-primary / 3;
  color: $red;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  margin-left: $boundary;

  width: $box-set + 10%;
  margin-right: $boundary / 2;
  padding: 2%;
  border: none;
  border-radius: 3px;
  background: $fresh;

}

.moose {
  margin-left: 20%;
}

// :::: app styles ::::


.container {
  width: $box-set;
  margin: 5%;
  border: solid;
}

.container1 {
  float:right;
  margin-right: $boundary;
}

.text-binder {

  height: 4vw;
  font-size: 3vw;
  margin-left: $boundary;
  padding: 1vw;
  color: $black;
  background: $skin-primary / 2;
  border: solid .25vw $skin-primary;

  + input {
    width: 100%;
  }
}
